### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
count = len(purchase_data["SN"].unique())
total_players = pd.DataFrame({"Total Players": [count]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = len(purchase_data["Item ID"].value_counts())
unique_items

179

In [4]:
average_price = round(purchase_data["Price"].mean(), 2)
average_price

3.05

In [5]:
number_purchases = len(purchase_data["Purchase ID"].value_counts())
number_purchases

780

In [6]:
total_price = round(purchase_data["Price"].sum(), 2)
total_price

2379.77

In [7]:
summary_df = pd.DataFrame([{"Number of Unique Items": unique_items,
                          "Average Price": average_price,
                          "Number of Purchases": number_purchases,
                          "Total Revenue": total_price}])

In [8]:
summary_df["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:.2f}".format)

In [9]:
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
gender_df = purchase_data[["SN", "Gender", "Age"]]

In [11]:
gender_df = gender_df.drop_duplicates()

In [12]:
gender_data = gender_df["Gender"].value_counts()
gender_data

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [13]:
gender_percentages = round((gender_data / count) * 100, 2)
gender_percentages

Male                     84.03
Female                   14.06
Other / Non-Disclosed     1.91
Name: Gender, dtype: float64

In [14]:
gender_summary_df = pd.DataFrame({"Total Count": gender_data,
                                  "Percentage of Players": gender_percentages})

In [15]:
gender_summary_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
purchasing_analysis_gender = purchase_data.groupby(["Gender"])

In [17]:
purchase_count = purchasing_analysis_gender["Gender"].count()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [18]:
total_purchase_avg = purchasing_analysis_gender["Price"].sum()
total_purchase_avg

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [19]:
avg_purchase_price = purchasing_analysis_gender["Price"].mean()
avg_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [20]:
purchase_per_person = total_purchase_avg / gender_summary_df["Total Count"]
purchase_per_person

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [22]:
purchasing_analysis_df = pd.DataFrame({"Purchase Count": purchase_count,
                                      "Average Purchase Price": avg_purchase_price,
                                       "Total Purchase Value": total_purchase_avg,
                                       "Avg Total Purchase Per Person": purchase_per_person
})

In [23]:
purchasing_analysis_df["Average Purchase Price"] = purchasing_analysis_df["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Purchase Value"] = purchasing_analysis_df["Total Purchase Value"].map("${:.2f}".format)
purchasing_analysis_df["Avg Total Purchase Per Person"] = purchasing_analysis_df["Avg Total Purchase Per Person"].map("${:.2f}".format)

In [24]:
purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
purchase_data["Age"].describe()

In [ ]:
age_bin = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 40]
age_bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [ ]:
gender_df["Age Ranges"] = pd.cut(gender_df["Age"], age_bin, labels=age_bin_labels, include_lowest=True)
gender_df

In [ ]:
age_range_count = gender_df.groupby("Age Ranges").count()["SN"]
age_range_count

In [ ]:
age_percentage = round((age_range_count / count ) * 100, 2)
age_percentage

In [ ]:
age_demographic_df = pd.DataFrame({"Total Count": age_range_count,
                                  "Percentage of Players": age_percentage})
age_demographic_df

In [ ]:
age_demographic_df["Percentage of Players"] = age_demographic_df["Percentage of Players"].map("{:.2f}%".format)
age_demographic_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
new_purchase = purchase_data.copy()

In [ ]:
new_purchase["Age Ranges"] = pd.cut(new_purchase["Age"], age_bin, labels=age_bin_labels, include_lowest=True)
new_purchase

In [ ]:
purchase_count = new_purchase.groupby("Age Ranges").count()["SN"]
purchase_count

In [ ]:
purchase_average = new_purchase.groupby("Age Ranges").mean()["Price"]
purchase_average

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame